<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yunzhong.account.accounting.dao.AcctAccountBookMapper">
    <resultMap id="BaseResultMap" type="org.yunzhong.account.accounting.model.AcctAccountBook">
        <id column="account_book_id" jdbcType="VARCHAR" property="accountBookId" />
        <result column="account_book_name" jdbcType="VARCHAR" property="accountBookName" />
        <result column="state" jdbcType="VARCHAR" property="state" />
        <result column="rootinstcd" jdbcType="VARCHAR" property="rootinstcd" />
        <result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
        <result column="cruser" jdbcType="VARCHAR" property="cruser" />
        <result column="shutuptime" jdbcType="TIMESTAMP" property="shutuptime" />
        <result column="shutupuser" jdbcType="VARCHAR" property="shutupuser" />
        <result column="shutdowntime" jdbcType="TIMESTAMP" property="shutdowntime" />
        <result column="shutdownuser" jdbcType="VARCHAR" property="shutdownuser" />
        <result column="account_book_type" jdbcType="VARCHAR" property="accountBookType" />
    </resultMap>
    <sql id="Base_Column_List">
        account_book_id, account_book_name, state, rootinstcd,
        crtime, cruser, shutuptime,
        shutupuser, shutdowntime, shutdownuser,
        account_book_type
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_acct_account_book
        where account_book_id =
        #{accountBookId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from
        t_acct_account_book
        where account_book_id =
        #{accountBookId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="org.yunzhong.account.accounting.model.AcctAccountBook">
        insert into t_acct_account_book (account_book_id,
        account_book_name, state,
        rootinstcd, crtime, cruser,
        shutuptime,
        shutupuser, shutdowntime,
        shutdownuser, account_book_type)
        values
        (#{accountBookId,jdbcType=VARCHAR},
        #{accountBookName,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR},
        #{rootinstcd,jdbcType=VARCHAR}, #{crtime,jdbcType=TIMESTAMP},
        #{cruser,jdbcType=VARCHAR},
        #{shutuptime,jdbcType=TIMESTAMP},
        #{shutupuser,jdbcType=VARCHAR}, #{shutdowntime,jdbcType=TIMESTAMP},
        #{shutdownuser,jdbcType=VARCHAR}, #{accountBookType,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="org.yunzhong.account.accounting.model.AcctAccountBook">
        insert into t_acct_account_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountBookId != null">
                account_book_id,
            </if>
            <if test="accountBookName != null">
                account_book_name,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="rootinstcd != null">
                rootinstcd,
            </if>
            <if test="crtime != null">
                crtime,
            </if>
            <if test="cruser != null">
                cruser,
            </if>
            <if test="shutuptime != null">
                shutuptime,
            </if>
            <if test="shutupuser != null">
                shutupuser,
            </if>
            <if test="shutdowntime != null">
                shutdowntime,
            </if>
            <if test="shutdownuser != null">
                shutdownuser,
            </if>
            <if test="accountBookType != null">
                account_book_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountBookId != null">
                #{accountBookId,jdbcType=VARCHAR},
            </if>
            <if test="accountBookName != null">
                #{accountBookName,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="rootinstcd != null">
                #{rootinstcd,jdbcType=VARCHAR},
            </if>
            <if test="crtime != null">
                #{crtime,jdbcType=TIMESTAMP},
            </if>
            <if test="cruser != null">
                #{cruser,jdbcType=VARCHAR},
            </if>
            <if test="shutuptime != null">
                #{shutuptime,jdbcType=TIMESTAMP},
            </if>
            <if test="shutupuser != null">
                #{shutupuser,jdbcType=VARCHAR},
            </if>
            <if test="shutdowntime != null">
                #{shutdowntime,jdbcType=TIMESTAMP},
            </if>
            <if test="shutdownuser != null">
                #{shutdownuser,jdbcType=VARCHAR},
            </if>
            <if test="accountBookType != null">
                #{accountBookType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.yunzhong.account.accounting.model.AcctAccountBook">
        update t_acct_account_book
        <set>
            <if test="accountBookName != null">
                account_book_name = #{accountBookName,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="rootinstcd != null">
                rootinstcd = #{rootinstcd,jdbcType=VARCHAR},
            </if>
            <if test="crtime != null">
                crtime = #{crtime,jdbcType=TIMESTAMP},
            </if>
            <if test="cruser != null">
                cruser = #{cruser,jdbcType=VARCHAR},
            </if>
            <if test="shutuptime != null">
                shutuptime = #{shutuptime,jdbcType=TIMESTAMP},
            </if>
            <if test="shutupuser != null">
                shutupuser = #{shutupuser,jdbcType=VARCHAR},
            </if>
            <if test="shutdowntime != null">
                shutdowntime = #{shutdowntime,jdbcType=TIMESTAMP},
            </if>
            <if test="shutdownuser != null">
                shutdownuser = #{shutdownuser,jdbcType=VARCHAR},
            </if>
            <if test="accountBookType != null">
                account_book_type = #{accountBookType,jdbcType=VARCHAR},
            </if>
        </set>
        where account_book_id = #{accountBookId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.yunzhong.account.accounting.model.AcctAccountBook">
        update t_acct_account_book
        set account_book_name =
        #{accountBookName,jdbcType=VARCHAR},
        state = #{state,jdbcType=VARCHAR},
        rootinstcd = #{rootinstcd,jdbcType=VARCHAR},
        crtime =
        #{crtime,jdbcType=TIMESTAMP},
        cruser = #{cruser,jdbcType=VARCHAR},
        shutuptime = #{shutuptime,jdbcType=TIMESTAMP},
        shutupuser =
        #{shutupuser,jdbcType=VARCHAR},
        shutdowntime =
        #{shutdowntime,jdbcType=TIMESTAMP},
        shutdownuser =
        #{shutdownuser,jdbcType=VARCHAR},
        account_book_type =
        #{accountBookType,jdbcType=VARCHAR}
        where account_book_id =
        #{accountBookId,jdbcType=VARCHAR}
    </update>
</mapper>