<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.yunzhong.account.accounting.dao.AcctCustomMapper">
	<resultMap id="BaseResultMap"
		type="org.yunzhong.account.accounting.model.AcctCustom">
		<id column="acctno" jdbcType="VARCHAR" property="acctno" />
		<id column="account_book_id" jdbcType="VARCHAR"
			property="accountBookId" />
		<result column="currtype" jdbcType="VARCHAR"
			property="currtype" />
		<result column="acctname" jdbcType="VARCHAR"
			property="acctname" />
		<result column="cpflag" jdbcType="TINYINT" property="cpflag" />
		<result column="acctstatus" jdbcType="VARCHAR"
			property="acctstatus" />
		<result column="accttype" jdbcType="VARCHAR"
			property="accttype" />
		<result column="acctpwd" jdbcType="VARCHAR" property="acctpwd" />
		<result column="itemcode" jdbcType="VARCHAR"
			property="itemcode" />
		<result column="balby" jdbcType="TINYINT" property="balby" />
		<result column="cusid" jdbcType="VARCHAR" property="cusid" />
		<result column="acctcatype" jdbcType="VARCHAR"
			property="acctcatype" />
		<result column="acctcaid" jdbcType="VARCHAR"
			property="acctcaid" />
		<result column="balance" jdbcType="DECIMAL" property="balance" />
		<result column="allowpay" jdbcType="TINYINT"
			property="allowpay" />
		<result column="allowrecharge" jdbcType="TINYINT"
			property="allowrecharge" />
		<result column="allowdeposit" jdbcType="TINYINT"
			property="allowdeposit" />
		<result column="allowtfin" jdbcType="TINYINT"
			property="allowtfin" />
		<result column="allowtfout" jdbcType="TINYINT"
			property="allowtfout" />
		<result column="allowin" jdbcType="TINYINT" property="allowin" />
		<result column="allowout" jdbcType="TINYINT"
			property="allowout" />
		<result column="overdramamt" jdbcType="DECIMAL"
			property="overdramamt" />
		<result column="drmaxamt" jdbcType="DECIMAL"
			property="drmaxamt" />
		<result column="crmaxamt" jdbcType="DECIMAL"
			property="crmaxamt" />
		<result column="drdtmaxamt" jdbcType="DECIMAL"
			property="drdtmaxamt" />
		<result column="drdtamt" jdbcType="DECIMAL" property="drdtamt" />
		<result column="drdtmaxcnt" jdbcType="DECIMAL"
			property="drdtmaxcnt" />
		<result column="drdtcnt" jdbcType="DECIMAL" property="drdtcnt" />
		<result column="drmtmaxamt" jdbcType="DECIMAL"
			property="drmtmaxamt" />
		<result column="drmtamt" jdbcType="DECIMAL" property="drmtamt" />
		<result column="drmtmaxcnt" jdbcType="DECIMAL"
			property="drmtmaxcnt" />
		<result column="drmtcnt" jdbcType="DECIMAL" property="drmtcnt" />
		<result column="crdtmaxamt" jdbcType="DECIMAL"
			property="crdtmaxamt" />
		<result column="crdtamt" jdbcType="DECIMAL" property="crdtamt" />
		<result column="crdtmaxcnt" jdbcType="DECIMAL"
			property="crdtmaxcnt" />
		<result column="crdtcnt" jdbcType="DECIMAL" property="crdtcnt" />
		<result column="crmtmaxamt" jdbcType="DECIMAL"
			property="crmtmaxamt" />
		<result column="crmtamt" jdbcType="DECIMAL" property="crmtamt" />
		<result column="crmtmaxcnt" jdbcType="DECIMAL"
			property="crmtmaxcnt" />
		<result column="crmtcnt" jdbcType="DECIMAL" property="crmtcnt" />
		<result column="lsttrxtime" jdbcType="TIMESTAMP"
			property="lsttrxtime" />
		<result column="lstcintdat" jdbcType="VARCHAR"
			property="lstcintdat" />
		<result column="cintcycle" jdbcType="VARCHAR"
			property="cintcycle" />
		<result column="cintratect" jdbcType="VARCHAR"
			property="cintratect" />
		<result column="cintratecode" jdbcType="VARCHAR"
			property="cintratecode" />
		<result column="cintcn" jdbcType="DECIMAL" property="cintcn" />
		<result column="crappid" jdbcType="VARCHAR" property="crappid" />
		<result column="cruser" jdbcType="VARCHAR" property="cruser" />
		<result column="crtime" jdbcType="TIMESTAMP" property="crtime" />
		<result column="dtappid" jdbcType="VARCHAR" property="dtappid" />
		<result column="dtuser" jdbcType="VARCHAR" property="dtuser" />
		<result column="dttime" jdbcType="TIMESTAMP" property="dttime" />
		<result column="acctreserved" jdbcType="VARCHAR"
			property="acctreserved" />
		<result column="mainacct" jdbcType="TINYINT"
			property="mainacct" />
		<result column="reglimitcusswitch" jdbcType="TINYINT"
			property="reglimitcusswitch" />
		<result column="cqacct" jdbcType="TINYINT" property="cqacct" />
		<result column="id" jdbcType="VARCHAR" property="id" />
	</resultMap>
	<sql id="Base_Column_List">
		acctno, account_book_id, currtype, acctname, cpflag, acctstatus, accttype,
		acctpwd,
		itemcode, balby, cusid, acctcatype, acctcaid, balance, allowpay, allowrecharge,
		allowdeposit,
		allowtfin, allowtfout, allowin, allowout, overdramamt, drmaxamt, crmaxamt,
		drdtmaxamt,
		drdtamt, drdtmaxcnt, drdtcnt, drmtmaxamt, drmtamt, drmtmaxcnt, drmtcnt,
		crdtmaxamt,
		crdtamt, crdtmaxcnt, crdtcnt, crmtmaxamt, crmtamt, crmtmaxcnt, crmtcnt,
		lsttrxtime,
		lstcintdat, cintcycle, cintratect, cintratecode, cintcn, crappid, cruser, crtime,
		dtappid, dtuser, dttime, acctreserved, mainacct, reglimitcusswitch,
		cqacct, id
	</sql>
	<select id="selectByPrimaryKey" parameterType="map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_acct_custom
		where acctno = #{acctno,jdbcType=VARCHAR}
		and account_book_id = #{accountBookId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="map">
		delete from t_acct_custom
		where acctno = #{acctno,jdbcType=VARCHAR}
		and account_book_id = #{accountBookId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="org.yunzhong.account.accounting.model.AcctCustom">
		insert into t_acct_custom (acctno, account_book_id, currtype,
		acctname, cpflag, acctstatus,
		accttype, acctpwd, itemcode,
		balby, cusid, acctcatype,
		acctcaid, balance, allowpay,
		allowrecharge, allowdeposit, allowtfin,
		allowtfout, allowin, allowout,
		overdramamt, drmaxamt, crmaxamt,
		drdtmaxamt, drdtamt, drdtmaxcnt,
		drdtcnt, drmtmaxamt, drmtamt,
		drmtmaxcnt, drmtcnt, crdtmaxamt,
		crdtamt, crdtmaxcnt, crdtcnt,
		crmtmaxamt, crmtamt, crmtmaxcnt,
		crmtcnt, lsttrxtime, lstcintdat,
		cintcycle, cintratect, cintratecode,
		cintcn, crappid, cruser,
		crtime, dtappid, dtuser,
		dttime, acctreserved, mainacct,
		reglimitcusswitch, cqacct, id
		)
		values (#{acctno,jdbcType=VARCHAR}, #{accountBookId,jdbcType=VARCHAR},
		#{currtype,jdbcType=VARCHAR},
		#{acctname,jdbcType=VARCHAR}, #{cpflag,jdbcType=TINYINT}, #{acctstatus,jdbcType=VARCHAR},
		#{accttype,jdbcType=VARCHAR}, #{acctpwd,jdbcType=VARCHAR},
		#{itemcode,jdbcType=VARCHAR},
		#{balby,jdbcType=TINYINT}, #{cusid,jdbcType=VARCHAR}, #{acctcatype,jdbcType=VARCHAR},
		#{acctcaid,jdbcType=VARCHAR}, #{balance,jdbcType=DECIMAL},
		#{allowpay,jdbcType=TINYINT},
		#{allowrecharge,jdbcType=TINYINT}, #{allowdeposit,jdbcType=TINYINT}, #{allowtfin,jdbcType=TINYINT},
		#{allowtfout,jdbcType=TINYINT}, #{allowin,jdbcType=TINYINT},
		#{allowout,jdbcType=TINYINT},
		#{overdramamt,jdbcType=DECIMAL}, #{drmaxamt,jdbcType=DECIMAL}, #{crmaxamt,jdbcType=DECIMAL},
		#{drdtmaxamt,jdbcType=DECIMAL}, #{drdtamt,jdbcType=DECIMAL},
		#{drdtmaxcnt,jdbcType=DECIMAL},
		#{drdtcnt,jdbcType=DECIMAL}, #{drmtmaxamt,jdbcType=DECIMAL}, #{drmtamt,jdbcType=DECIMAL},
		#{drmtmaxcnt,jdbcType=DECIMAL}, #{drmtcnt,jdbcType=DECIMAL},
		#{crdtmaxamt,jdbcType=DECIMAL},
		#{crdtamt,jdbcType=DECIMAL}, #{crdtmaxcnt,jdbcType=DECIMAL}, #{crdtcnt,jdbcType=DECIMAL},
		#{crmtmaxamt,jdbcType=DECIMAL}, #{crmtamt,jdbcType=DECIMAL},
		#{crmtmaxcnt,jdbcType=DECIMAL},
		#{crmtcnt,jdbcType=DECIMAL}, #{lsttrxtime,jdbcType=TIMESTAMP}, #{lstcintdat,jdbcType=VARCHAR},
		#{cintcycle,jdbcType=VARCHAR}, #{cintratect,jdbcType=VARCHAR},
		#{cintratecode,jdbcType=VARCHAR},
		#{cintcn,jdbcType=DECIMAL}, #{crappid,jdbcType=VARCHAR}, #{cruser,jdbcType=VARCHAR},
		#{crtime,jdbcType=TIMESTAMP}, #{dtappid,jdbcType=VARCHAR},
		#{dtuser,jdbcType=VARCHAR},
		#{dttime,jdbcType=TIMESTAMP}, #{acctreserved,jdbcType=VARCHAR}, #{mainacct,jdbcType=TINYINT},
		#{reglimitcusswitch,jdbcType=TINYINT}, #{cqacct,jdbcType=TINYINT},
		#{id,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="org.yunzhong.account.accounting.model.AcctCustom">
		insert into t_acct_custom
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="acctno != null">
				acctno,
			</if>
			<if test="accountBookId != null">
				account_book_id,
			</if>
			<if test="currtype != null">
				currtype,
			</if>
			<if test="acctname != null">
				acctname,
			</if>
			<if test="cpflag != null">
				cpflag,
			</if>
			<if test="acctstatus != null">
				acctstatus,
			</if>
			<if test="accttype != null">
				accttype,
			</if>
			<if test="acctpwd != null">
				acctpwd,
			</if>
			<if test="itemcode != null">
				itemcode,
			</if>
			<if test="balby != null">
				balby,
			</if>
			<if test="cusid != null">
				cusid,
			</if>
			<if test="acctcatype != null">
				acctcatype,
			</if>
			<if test="acctcaid != null">
				acctcaid,
			</if>
			<if test="balance != null">
				balance,
			</if>
			<if test="allowpay != null">
				allowpay,
			</if>
			<if test="allowrecharge != null">
				allowrecharge,
			</if>
			<if test="allowdeposit != null">
				allowdeposit,
			</if>
			<if test="allowtfin != null">
				allowtfin,
			</if>
			<if test="allowtfout != null">
				allowtfout,
			</if>
			<if test="allowin != null">
				allowin,
			</if>
			<if test="allowout != null">
				allowout,
			</if>
			<if test="overdramamt != null">
				overdramamt,
			</if>
			<if test="drmaxamt != null">
				drmaxamt,
			</if>
			<if test="crmaxamt != null">
				crmaxamt,
			</if>
			<if test="drdtmaxamt != null">
				drdtmaxamt,
			</if>
			<if test="drdtamt != null">
				drdtamt,
			</if>
			<if test="drdtmaxcnt != null">
				drdtmaxcnt,
			</if>
			<if test="drdtcnt != null">
				drdtcnt,
			</if>
			<if test="drmtmaxamt != null">
				drmtmaxamt,
			</if>
			<if test="drmtamt != null">
				drmtamt,
			</if>
			<if test="drmtmaxcnt != null">
				drmtmaxcnt,
			</if>
			<if test="drmtcnt != null">
				drmtcnt,
			</if>
			<if test="crdtmaxamt != null">
				crdtmaxamt,
			</if>
			<if test="crdtamt != null">
				crdtamt,
			</if>
			<if test="crdtmaxcnt != null">
				crdtmaxcnt,
			</if>
			<if test="crdtcnt != null">
				crdtcnt,
			</if>
			<if test="crmtmaxamt != null">
				crmtmaxamt,
			</if>
			<if test="crmtamt != null">
				crmtamt,
			</if>
			<if test="crmtmaxcnt != null">
				crmtmaxcnt,
			</if>
			<if test="crmtcnt != null">
				crmtcnt,
			</if>
			<if test="lsttrxtime != null">
				lsttrxtime,
			</if>
			<if test="lstcintdat != null">
				lstcintdat,
			</if>
			<if test="cintcycle != null">
				cintcycle,
			</if>
			<if test="cintratect != null">
				cintratect,
			</if>
			<if test="cintratecode != null">
				cintratecode,
			</if>
			<if test="cintcn != null">
				cintcn,
			</if>
			<if test="crappid != null">
				crappid,
			</if>
			<if test="cruser != null">
				cruser,
			</if>
			<if test="crtime != null">
				crtime,
			</if>
			<if test="dtappid != null">
				dtappid,
			</if>
			<if test="dtuser != null">
				dtuser,
			</if>
			<if test="dttime != null">
				dttime,
			</if>
			<if test="acctreserved != null">
				acctreserved,
			</if>
			<if test="mainacct != null">
				mainacct,
			</if>
			<if test="reglimitcusswitch != null">
				reglimitcusswitch,
			</if>
			<if test="cqacct != null">
				cqacct,
			</if>
			<if test="id != null">
				id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="acctno != null">
				#{acctno,jdbcType=VARCHAR},
			</if>
			<if test="accountBookId != null">
				#{accountBookId,jdbcType=VARCHAR},
			</if>
			<if test="currtype != null">
				#{currtype,jdbcType=VARCHAR},
			</if>
			<if test="acctname != null">
				#{acctname,jdbcType=VARCHAR},
			</if>
			<if test="cpflag != null">
				#{cpflag,jdbcType=TINYINT},
			</if>
			<if test="acctstatus != null">
				#{acctstatus,jdbcType=VARCHAR},
			</if>
			<if test="accttype != null">
				#{accttype,jdbcType=VARCHAR},
			</if>
			<if test="acctpwd != null">
				#{acctpwd,jdbcType=VARCHAR},
			</if>
			<if test="itemcode != null">
				#{itemcode,jdbcType=VARCHAR},
			</if>
			<if test="balby != null">
				#{balby,jdbcType=TINYINT},
			</if>
			<if test="cusid != null">
				#{cusid,jdbcType=VARCHAR},
			</if>
			<if test="acctcatype != null">
				#{acctcatype,jdbcType=VARCHAR},
			</if>
			<if test="acctcaid != null">
				#{acctcaid,jdbcType=VARCHAR},
			</if>
			<if test="balance != null">
				#{balance,jdbcType=DECIMAL},
			</if>
			<if test="allowpay != null">
				#{allowpay,jdbcType=TINYINT},
			</if>
			<if test="allowrecharge != null">
				#{allowrecharge,jdbcType=TINYINT},
			</if>
			<if test="allowdeposit != null">
				#{allowdeposit,jdbcType=TINYINT},
			</if>
			<if test="allowtfin != null">
				#{allowtfin,jdbcType=TINYINT},
			</if>
			<if test="allowtfout != null">
				#{allowtfout,jdbcType=TINYINT},
			</if>
			<if test="allowin != null">
				#{allowin,jdbcType=TINYINT},
			</if>
			<if test="allowout != null">
				#{allowout,jdbcType=TINYINT},
			</if>
			<if test="overdramamt != null">
				#{overdramamt,jdbcType=DECIMAL},
			</if>
			<if test="drmaxamt != null">
				#{drmaxamt,jdbcType=DECIMAL},
			</if>
			<if test="crmaxamt != null">
				#{crmaxamt,jdbcType=DECIMAL},
			</if>
			<if test="drdtmaxamt != null">
				#{drdtmaxamt,jdbcType=DECIMAL},
			</if>
			<if test="drdtamt != null">
				#{drdtamt,jdbcType=DECIMAL},
			</if>
			<if test="drdtmaxcnt != null">
				#{drdtmaxcnt,jdbcType=DECIMAL},
			</if>
			<if test="drdtcnt != null">
				#{drdtcnt,jdbcType=DECIMAL},
			</if>
			<if test="drmtmaxamt != null">
				#{drmtmaxamt,jdbcType=DECIMAL},
			</if>
			<if test="drmtamt != null">
				#{drmtamt,jdbcType=DECIMAL},
			</if>
			<if test="drmtmaxcnt != null">
				#{drmtmaxcnt,jdbcType=DECIMAL},
			</if>
			<if test="drmtcnt != null">
				#{drmtcnt,jdbcType=DECIMAL},
			</if>
			<if test="crdtmaxamt != null">
				#{crdtmaxamt,jdbcType=DECIMAL},
			</if>
			<if test="crdtamt != null">
				#{crdtamt,jdbcType=DECIMAL},
			</if>
			<if test="crdtmaxcnt != null">
				#{crdtmaxcnt,jdbcType=DECIMAL},
			</if>
			<if test="crdtcnt != null">
				#{crdtcnt,jdbcType=DECIMAL},
			</if>
			<if test="crmtmaxamt != null">
				#{crmtmaxamt,jdbcType=DECIMAL},
			</if>
			<if test="crmtamt != null">
				#{crmtamt,jdbcType=DECIMAL},
			</if>
			<if test="crmtmaxcnt != null">
				#{crmtmaxcnt,jdbcType=DECIMAL},
			</if>
			<if test="crmtcnt != null">
				#{crmtcnt,jdbcType=DECIMAL},
			</if>
			<if test="lsttrxtime != null">
				#{lsttrxtime,jdbcType=TIMESTAMP},
			</if>
			<if test="lstcintdat != null">
				#{lstcintdat,jdbcType=VARCHAR},
			</if>
			<if test="cintcycle != null">
				#{cintcycle,jdbcType=VARCHAR},
			</if>
			<if test="cintratect != null">
				#{cintratect,jdbcType=VARCHAR},
			</if>
			<if test="cintratecode != null">
				#{cintratecode,jdbcType=VARCHAR},
			</if>
			<if test="cintcn != null">
				#{cintcn,jdbcType=DECIMAL},
			</if>
			<if test="crappid != null">
				#{crappid,jdbcType=VARCHAR},
			</if>
			<if test="cruser != null">
				#{cruser,jdbcType=VARCHAR},
			</if>
			<if test="crtime != null">
				#{crtime,jdbcType=TIMESTAMP},
			</if>
			<if test="dtappid != null">
				#{dtappid,jdbcType=VARCHAR},
			</if>
			<if test="dtuser != null">
				#{dtuser,jdbcType=VARCHAR},
			</if>
			<if test="dttime != null">
				#{dttime,jdbcType=TIMESTAMP},
			</if>
			<if test="acctreserved != null">
				#{acctreserved,jdbcType=VARCHAR},
			</if>
			<if test="mainacct != null">
				#{mainacct,jdbcType=TINYINT},
			</if>
			<if test="reglimitcusswitch != null">
				#{reglimitcusswitch,jdbcType=TINYINT},
			</if>
			<if test="cqacct != null">
				#{cqacct,jdbcType=TINYINT},
			</if>
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="org.yunzhong.account.accounting.model.AcctCustom">
		update t_acct_custom
		<set>
			<if test="currtype != null">
				currtype = #{currtype,jdbcType=VARCHAR},
			</if>
			<if test="acctname != null">
				acctname = #{acctname,jdbcType=VARCHAR},
			</if>
			<if test="cpflag != null">
				cpflag = #{cpflag,jdbcType=TINYINT},
			</if>
			<if test="acctstatus != null">
				acctstatus = #{acctstatus,jdbcType=VARCHAR},
			</if>
			<if test="accttype != null">
				accttype = #{accttype,jdbcType=VARCHAR},
			</if>
			<if test="acctpwd != null">
				acctpwd = #{acctpwd,jdbcType=VARCHAR},
			</if>
			<if test="itemcode != null">
				itemcode = #{itemcode,jdbcType=VARCHAR},
			</if>
			<if test="balby != null">
				balby = #{balby,jdbcType=TINYINT},
			</if>
			<if test="cusid != null">
				cusid = #{cusid,jdbcType=VARCHAR},
			</if>
			<if test="acctcatype != null">
				acctcatype = #{acctcatype,jdbcType=VARCHAR},
			</if>
			<if test="acctcaid != null">
				acctcaid = #{acctcaid,jdbcType=VARCHAR},
			</if>
			<if test="balance != null">
				balance = #{balance,jdbcType=DECIMAL},
			</if>
			<if test="allowpay != null">
				allowpay = #{allowpay,jdbcType=TINYINT},
			</if>
			<if test="allowrecharge != null">
				allowrecharge = #{allowrecharge,jdbcType=TINYINT},
			</if>
			<if test="allowdeposit != null">
				allowdeposit = #{allowdeposit,jdbcType=TINYINT},
			</if>
			<if test="allowtfin != null">
				allowtfin = #{allowtfin,jdbcType=TINYINT},
			</if>
			<if test="allowtfout != null">
				allowtfout = #{allowtfout,jdbcType=TINYINT},
			</if>
			<if test="allowin != null">
				allowin = #{allowin,jdbcType=TINYINT},
			</if>
			<if test="allowout != null">
				allowout = #{allowout,jdbcType=TINYINT},
			</if>
			<if test="overdramamt != null">
				overdramamt = #{overdramamt,jdbcType=DECIMAL},
			</if>
			<if test="drmaxamt != null">
				drmaxamt = #{drmaxamt,jdbcType=DECIMAL},
			</if>
			<if test="crmaxamt != null">
				crmaxamt = #{crmaxamt,jdbcType=DECIMAL},
			</if>
			<if test="drdtmaxamt != null">
				drdtmaxamt = #{drdtmaxamt,jdbcType=DECIMAL},
			</if>
			<if test="drdtamt != null">
				drdtamt = #{drdtamt,jdbcType=DECIMAL},
			</if>
			<if test="drdtmaxcnt != null">
				drdtmaxcnt = #{drdtmaxcnt,jdbcType=DECIMAL},
			</if>
			<if test="drdtcnt != null">
				drdtcnt = #{drdtcnt,jdbcType=DECIMAL},
			</if>
			<if test="drmtmaxamt != null">
				drmtmaxamt = #{drmtmaxamt,jdbcType=DECIMAL},
			</if>
			<if test="drmtamt != null">
				drmtamt = #{drmtamt,jdbcType=DECIMAL},
			</if>
			<if test="drmtmaxcnt != null">
				drmtmaxcnt = #{drmtmaxcnt,jdbcType=DECIMAL},
			</if>
			<if test="drmtcnt != null">
				drmtcnt = #{drmtcnt,jdbcType=DECIMAL},
			</if>
			<if test="crdtmaxamt != null">
				crdtmaxamt = #{crdtmaxamt,jdbcType=DECIMAL},
			</if>
			<if test="crdtamt != null">
				crdtamt = #{crdtamt,jdbcType=DECIMAL},
			</if>
			<if test="crdtmaxcnt != null">
				crdtmaxcnt = #{crdtmaxcnt,jdbcType=DECIMAL},
			</if>
			<if test="crdtcnt != null">
				crdtcnt = #{crdtcnt,jdbcType=DECIMAL},
			</if>
			<if test="crmtmaxamt != null">
				crmtmaxamt = #{crmtmaxamt,jdbcType=DECIMAL},
			</if>
			<if test="crmtamt != null">
				crmtamt = #{crmtamt,jdbcType=DECIMAL},
			</if>
			<if test="crmtmaxcnt != null">
				crmtmaxcnt = #{crmtmaxcnt,jdbcType=DECIMAL},
			</if>
			<if test="crmtcnt != null">
				crmtcnt = #{crmtcnt,jdbcType=DECIMAL},
			</if>
			<if test="lsttrxtime != null">
				lsttrxtime = #{lsttrxtime,jdbcType=TIMESTAMP},
			</if>
			<if test="lstcintdat != null">
				lstcintdat = #{lstcintdat,jdbcType=VARCHAR},
			</if>
			<if test="cintcycle != null">
				cintcycle = #{cintcycle,jdbcType=VARCHAR},
			</if>
			<if test="cintratect != null">
				cintratect = #{cintratect,jdbcType=VARCHAR},
			</if>
			<if test="cintratecode != null">
				cintratecode = #{cintratecode,jdbcType=VARCHAR},
			</if>
			<if test="cintcn != null">
				cintcn = #{cintcn,jdbcType=DECIMAL},
			</if>
			<if test="crappid != null">
				crappid = #{crappid,jdbcType=VARCHAR},
			</if>
			<if test="cruser != null">
				cruser = #{cruser,jdbcType=VARCHAR},
			</if>
			<if test="crtime != null">
				crtime = #{crtime,jdbcType=TIMESTAMP},
			</if>
			<if test="dtappid != null">
				dtappid = #{dtappid,jdbcType=VARCHAR},
			</if>
			<if test="dtuser != null">
				dtuser = #{dtuser,jdbcType=VARCHAR},
			</if>
			<if test="dttime != null">
				dttime = #{dttime,jdbcType=TIMESTAMP},
			</if>
			<if test="acctreserved != null">
				acctreserved = #{acctreserved,jdbcType=VARCHAR},
			</if>
			<if test="mainacct != null">
				mainacct = #{mainacct,jdbcType=TINYINT},
			</if>
			<if test="reglimitcusswitch != null">
				reglimitcusswitch = #{reglimitcusswitch,jdbcType=TINYINT},
			</if>
			<if test="cqacct != null">
				cqacct = #{cqacct,jdbcType=TINYINT},
			</if>
			<if test="id != null">
				id = #{id,jdbcType=VARCHAR},
			</if>
		</set>
		where acctno = #{acctno,jdbcType=VARCHAR}
		and account_book_id = #{accountBookId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="org.yunzhong.account.accounting.model.AcctCustom">
		update t_acct_custom
		set currtype = #{currtype,jdbcType=VARCHAR},
		acctname = #{acctname,jdbcType=VARCHAR},
		cpflag = #{cpflag,jdbcType=TINYINT},
		acctstatus = #{acctstatus,jdbcType=VARCHAR},
		accttype = #{accttype,jdbcType=VARCHAR},
		acctpwd = #{acctpwd,jdbcType=VARCHAR},
		itemcode = #{itemcode,jdbcType=VARCHAR},
		balby = #{balby,jdbcType=TINYINT},
		cusid = #{cusid,jdbcType=VARCHAR},
		acctcatype = #{acctcatype,jdbcType=VARCHAR},
		acctcaid = #{acctcaid,jdbcType=VARCHAR},
		balance = #{balance,jdbcType=DECIMAL},
		allowpay = #{allowpay,jdbcType=TINYINT},
		allowrecharge = #{allowrecharge,jdbcType=TINYINT},
		allowdeposit = #{allowdeposit,jdbcType=TINYINT},
		allowtfin = #{allowtfin,jdbcType=TINYINT},
		allowtfout = #{allowtfout,jdbcType=TINYINT},
		allowin = #{allowin,jdbcType=TINYINT},
		allowout = #{allowout,jdbcType=TINYINT},
		overdramamt = #{overdramamt,jdbcType=DECIMAL},
		drmaxamt = #{drmaxamt,jdbcType=DECIMAL},
		crmaxamt = #{crmaxamt,jdbcType=DECIMAL},
		drdtmaxamt = #{drdtmaxamt,jdbcType=DECIMAL},
		drdtamt = #{drdtamt,jdbcType=DECIMAL},
		drdtmaxcnt = #{drdtmaxcnt,jdbcType=DECIMAL},
		drdtcnt = #{drdtcnt,jdbcType=DECIMAL},
		drmtmaxamt = #{drmtmaxamt,jdbcType=DECIMAL},
		drmtamt = #{drmtamt,jdbcType=DECIMAL},
		drmtmaxcnt = #{drmtmaxcnt,jdbcType=DECIMAL},
		drmtcnt = #{drmtcnt,jdbcType=DECIMAL},
		crdtmaxamt = #{crdtmaxamt,jdbcType=DECIMAL},
		crdtamt = #{crdtamt,jdbcType=DECIMAL},
		crdtmaxcnt = #{crdtmaxcnt,jdbcType=DECIMAL},
		crdtcnt = #{crdtcnt,jdbcType=DECIMAL},
		crmtmaxamt = #{crmtmaxamt,jdbcType=DECIMAL},
		crmtamt = #{crmtamt,jdbcType=DECIMAL},
		crmtmaxcnt = #{crmtmaxcnt,jdbcType=DECIMAL},
		crmtcnt = #{crmtcnt,jdbcType=DECIMAL},
		lsttrxtime = #{lsttrxtime,jdbcType=TIMESTAMP},
		lstcintdat = #{lstcintdat,jdbcType=VARCHAR},
		cintcycle = #{cintcycle,jdbcType=VARCHAR},
		cintratect = #{cintratect,jdbcType=VARCHAR},
		cintratecode = #{cintratecode,jdbcType=VARCHAR},
		cintcn = #{cintcn,jdbcType=DECIMAL},
		crappid = #{crappid,jdbcType=VARCHAR},
		cruser = #{cruser,jdbcType=VARCHAR},
		crtime = #{crtime,jdbcType=TIMESTAMP},
		dtappid = #{dtappid,jdbcType=VARCHAR},
		dtuser = #{dtuser,jdbcType=VARCHAR},
		dttime = #{dttime,jdbcType=TIMESTAMP},
		acctreserved = #{acctreserved,jdbcType=VARCHAR},
		mainacct = #{mainacct,jdbcType=TINYINT},
		reglimitcusswitch = #{reglimitcusswitch,jdbcType=TINYINT},
		cqacct = #{cqacct,jdbcType=TINYINT},
		id = #{id,jdbcType=VARCHAR}
		where acctno = #{acctno,jdbcType=VARCHAR}
		and account_book_id = #{accountBookId,jdbcType=VARCHAR}
	</update>
</mapper>