<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yunzhong.account.accounting.dao.AcctDiaryMapper">
    <resultMap id="BaseResultMap" type="org.yunzhong.account.accounting.model.AcctDiary">
        <id column="account_book_id" jdbcType="VARCHAR" property="accountBookId" />
        <id column="acctno" jdbcType="VARCHAR" property="acctno" />
        <id column="periodday" jdbcType="VARCHAR" property="periodday" />
        <result column="currtype" jdbcType="CHAR" property="currtype" />
        <result column="openbal" jdbcType="DECIMAL" property="openbal" />
        <result column="opendrbal" jdbcType="DECIMAL" property="opendrbal" />
        <result column="closedramt" jdbcType="DECIMAL" property="closedramt" />
        <result column="closedrcnt" jdbcType="DECIMAL" property="closedrcnt" />
        <result column="closedrbal" jdbcType="DECIMAL" property="closedrbal" />
        <result column="opencrbal" jdbcType="DECIMAL" property="opencrbal" />
        <result column="closecramt" jdbcType="DECIMAL" property="closecramt" />
        <result column="closecrcnt" jdbcType="DECIMAL" property="closecrcnt" />
        <result column="closecrbal" jdbcType="DECIMAL" property="closecrbal" />
        <result column="closebal" jdbcType="DECIMAL" property="closebal" />
        <result column="iscus" jdbcType="TINYINT" property="iscus" />
        <result column="acctname" jdbcType="VARCHAR" property="acctname" />
        <result column="itemcode" jdbcType="VARCHAR" property="itemcode" />
        <result column="id" jdbcType="VARCHAR" property="id" />
    </resultMap>
    <sql id="Base_Column_List">
        account_book_id, acctno, periodday, currtype, openbal, opendrbal, closedramt, closedrcnt,
        closedrbal, opencrbal, closecramt, closecrcnt, closecrbal, closebal, iscus, acctname,
        itemcode, id
    </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_acct_diary
        where account_book_id = #{accountBookId,jdbcType=VARCHAR}
        and acctno = #{acctno,jdbcType=VARCHAR}
        and periodday = #{periodday,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from t_acct_diary
        where account_book_id = #{accountBookId,jdbcType=VARCHAR}
        and acctno = #{acctno,jdbcType=VARCHAR}
        and periodday = #{periodday,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="org.yunzhong.account.accounting.model.AcctDiary">
        insert into t_acct_diary (account_book_id, acctno, periodday,
        currtype, openbal, opendrbal,
        closedramt, closedrcnt, closedrbal,
        opencrbal, closecramt, closecrcnt,
        closecrbal, closebal, iscus,
        acctname, itemcode, id
        )
        values (#{accountBookId,jdbcType=VARCHAR}, #{acctno,jdbcType=VARCHAR}, #{periodday,jdbcType=VARCHAR},
        #{currtype,jdbcType=CHAR}, #{openbal,jdbcType=DECIMAL}, #{opendrbal,jdbcType=DECIMAL},
        #{closedramt,jdbcType=DECIMAL}, #{closedrcnt,jdbcType=DECIMAL}, #{closedrbal,jdbcType=DECIMAL},
        #{opencrbal,jdbcType=DECIMAL}, #{closecramt,jdbcType=DECIMAL}, #{closecrcnt,jdbcType=DECIMAL},
        #{closecrbal,jdbcType=DECIMAL}, #{closebal,jdbcType=DECIMAL}, #{iscus,jdbcType=TINYINT},
        #{acctname,jdbcType=VARCHAR}, #{itemcode,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="org.yunzhong.account.accounting.model.AcctDiary">
        insert into t_acct_diary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountBookId != null">
                account_book_id,
            </if>
            <if test="acctno != null">
                acctno,
            </if>
            <if test="periodday != null">
                periodday,
            </if>
            <if test="currtype != null">
                currtype,
            </if>
            <if test="openbal != null">
                openbal,
            </if>
            <if test="opendrbal != null">
                opendrbal,
            </if>
            <if test="closedramt != null">
                closedramt,
            </if>
            <if test="closedrcnt != null">
                closedrcnt,
            </if>
            <if test="closedrbal != null">
                closedrbal,
            </if>
            <if test="opencrbal != null">
                opencrbal,
            </if>
            <if test="closecramt != null">
                closecramt,
            </if>
            <if test="closecrcnt != null">
                closecrcnt,
            </if>
            <if test="closecrbal != null">
                closecrbal,
            </if>
            <if test="closebal != null">
                closebal,
            </if>
            <if test="iscus != null">
                iscus,
            </if>
            <if test="acctname != null">
                acctname,
            </if>
            <if test="itemcode != null">
                itemcode,
            </if>
            <if test="id != null">
                id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountBookId != null">
                #{accountBookId,jdbcType=VARCHAR},
            </if>
            <if test="acctno != null">
                #{acctno,jdbcType=VARCHAR},
            </if>
            <if test="periodday != null">
                #{periodday,jdbcType=VARCHAR},
            </if>
            <if test="currtype != null">
                #{currtype,jdbcType=CHAR},
            </if>
            <if test="openbal != null">
                #{openbal,jdbcType=DECIMAL},
            </if>
            <if test="opendrbal != null">
                #{opendrbal,jdbcType=DECIMAL},
            </if>
            <if test="closedramt != null">
                #{closedramt,jdbcType=DECIMAL},
            </if>
            <if test="closedrcnt != null">
                #{closedrcnt,jdbcType=DECIMAL},
            </if>
            <if test="closedrbal != null">
                #{closedrbal,jdbcType=DECIMAL},
            </if>
            <if test="opencrbal != null">
                #{opencrbal,jdbcType=DECIMAL},
            </if>
            <if test="closecramt != null">
                #{closecramt,jdbcType=DECIMAL},
            </if>
            <if test="closecrcnt != null">
                #{closecrcnt,jdbcType=DECIMAL},
            </if>
            <if test="closecrbal != null">
                #{closecrbal,jdbcType=DECIMAL},
            </if>
            <if test="closebal != null">
                #{closebal,jdbcType=DECIMAL},
            </if>
            <if test="iscus != null">
                #{iscus,jdbcType=TINYINT},
            </if>
            <if test="acctname != null">
                #{acctname,jdbcType=VARCHAR},
            </if>
            <if test="itemcode != null">
                #{itemcode,jdbcType=VARCHAR},
            </if>
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.yunzhong.account.accounting.model.AcctDiary">
        update t_acct_diary
        <set>
            <if test="currtype != null">
                currtype = #{currtype,jdbcType=CHAR},
            </if>
            <if test="openbal != null">
                openbal = #{openbal,jdbcType=DECIMAL},
            </if>
            <if test="opendrbal != null">
                opendrbal = #{opendrbal,jdbcType=DECIMAL},
            </if>
            <if test="closedramt != null">
                closedramt = #{closedramt,jdbcType=DECIMAL},
            </if>
            <if test="closedrcnt != null">
                closedrcnt = #{closedrcnt,jdbcType=DECIMAL},
            </if>
            <if test="closedrbal != null">
                closedrbal = #{closedrbal,jdbcType=DECIMAL},
            </if>
            <if test="opencrbal != null">
                opencrbal = #{opencrbal,jdbcType=DECIMAL},
            </if>
            <if test="closecramt != null">
                closecramt = #{closecramt,jdbcType=DECIMAL},
            </if>
            <if test="closecrcnt != null">
                closecrcnt = #{closecrcnt,jdbcType=DECIMAL},
            </if>
            <if test="closecrbal != null">
                closecrbal = #{closecrbal,jdbcType=DECIMAL},
            </if>
            <if test="closebal != null">
                closebal = #{closebal,jdbcType=DECIMAL},
            </if>
            <if test="iscus != null">
                iscus = #{iscus,jdbcType=TINYINT},
            </if>
            <if test="acctname != null">
                acctname = #{acctname,jdbcType=VARCHAR},
            </if>
            <if test="itemcode != null">
                itemcode = #{itemcode,jdbcType=VARCHAR},
            </if>
            <if test="id != null">
                id = #{id,jdbcType=VARCHAR},
            </if>
        </set>
        where account_book_id = #{accountBookId,jdbcType=VARCHAR}
        and acctno = #{acctno,jdbcType=VARCHAR}
        and periodday = #{periodday,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.yunzhong.account.accounting.model.AcctDiary">
        update t_acct_diary
        set currtype = #{currtype,jdbcType=CHAR},
        openbal = #{openbal,jdbcType=DECIMAL},
        opendrbal = #{opendrbal,jdbcType=DECIMAL},
        closedramt = #{closedramt,jdbcType=DECIMAL},
        closedrcnt = #{closedrcnt,jdbcType=DECIMAL},
        closedrbal = #{closedrbal,jdbcType=DECIMAL},
        opencrbal = #{opencrbal,jdbcType=DECIMAL},
        closecramt = #{closecramt,jdbcType=DECIMAL},
        closecrcnt = #{closecrcnt,jdbcType=DECIMAL},
        closecrbal = #{closecrbal,jdbcType=DECIMAL},
        closebal = #{closebal,jdbcType=DECIMAL},
        iscus = #{iscus,jdbcType=TINYINT},
        acctname = #{acctname,jdbcType=VARCHAR},
        itemcode = #{itemcode,jdbcType=VARCHAR},
        id = #{id,jdbcType=VARCHAR}
        where account_book_id = #{accountBookId,jdbcType=VARCHAR}
        and acctno = #{acctno,jdbcType=VARCHAR}
        and periodday = #{periodday,jdbcType=VARCHAR}
    </update>
</mapper>