<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="org.yunzhong.account.accounting.dao.AcctGenledDetailMapper">
	<resultMap id="BaseResultMap"
		type="org.yunzhong.account.accounting.model.AcctGenledDetail">
		<id column="account_book_id" jdbcType="VARCHAR"
			property="accountBookId" />
		<id column="itemcode" jdbcType="VARCHAR" property="itemcode" />
		<id column="periodday" jdbcType="VARCHAR" property="periodday" />
		<result column="itembalby" jdbcType="TINYINT"
			property="itembalby" />
		<result column="itemclass" jdbcType="TINYINT"
			property="itemclass" />
		<result column="currtype" jdbcType="CHAR" property="currtype" />
		<result column="lddrbal" jdbcType="DECIMAL" property="lddrbal" />
		<result column="ldcrbal" jdbcType="DECIMAL" property="ldcrbal" />
		<result column="tddramt" jdbcType="DECIMAL" property="tddramt" />
		<result column="tdcramt" jdbcType="DECIMAL" property="tdcramt" />
		<result column="tddrcnt" jdbcType="DECIMAL" property="tddrcnt" />
		<result column="tdcrcnt" jdbcType="DECIMAL" property="tdcrcnt" />
		<result column="tddrbal" jdbcType="DECIMAL" property="tddrbal" />
		<result column="tdcrbal" jdbcType="DECIMAL" property="tdcrbal" />
	</resultMap>
	<sql id="Base_Column_List">
		account_book_id, itemcode, periodday, itembalby, itemclass, currtype, lddrbal,
		ldcrbal,
		tddramt, tdcramt, tddrcnt, tdcrcnt, tddrbal, tdcrbal
	</sql>
	<select id="selectByPrimaryKey" parameterType="map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_acct_genled_detail
		where account_book_id = #{accountBookId,jdbcType=VARCHAR}
		and itemcode = #{itemcode,jdbcType=VARCHAR}
		and periodday = #{periodday,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="map">
		delete from t_acct_genled_detail
		where account_book_id = #{accountBookId,jdbcType=VARCHAR}
		and itemcode = #{itemcode,jdbcType=VARCHAR}
		and periodday = #{periodday,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="org.yunzhong.account.accounting.model.AcctGenledDetail">
		insert into t_acct_genled_detail (account_book_id, itemcode, periodday,
		itembalby, itemclass, currtype,
		lddrbal, ldcrbal, tddramt,
		tdcramt, tddrcnt, tdcrcnt,
		tddrbal, tdcrbal)
		values (#{accountBookId,jdbcType=VARCHAR}, #{itemcode,jdbcType=VARCHAR},
		#{periodday,jdbcType=VARCHAR},
		#{itembalby,jdbcType=TINYINT}, #{itemclass,jdbcType=TINYINT}, #{currtype,jdbcType=CHAR},
		#{lddrbal,jdbcType=DECIMAL}, #{ldcrbal,jdbcType=DECIMAL},
		#{tddramt,jdbcType=DECIMAL},
		#{tdcramt,jdbcType=DECIMAL}, #{tddrcnt,jdbcType=DECIMAL}, #{tdcrcnt,jdbcType=DECIMAL},
		#{tddrbal,jdbcType=DECIMAL}, #{tdcrbal,jdbcType=DECIMAL})
	</insert>
	<insert id="insertSelective"
		parameterType="org.yunzhong.account.accounting.model.AcctGenledDetail">
		insert into t_acct_genled_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="accountBookId != null">
				account_book_id,
			</if>
			<if test="itemcode != null">
				itemcode,
			</if>
			<if test="periodday != null">
				periodday,
			</if>
			<if test="itembalby != null">
				itembalby,
			</if>
			<if test="itemclass != null">
				itemclass,
			</if>
			<if test="currtype != null">
				currtype,
			</if>
			<if test="lddrbal != null">
				lddrbal,
			</if>
			<if test="ldcrbal != null">
				ldcrbal,
			</if>
			<if test="tddramt != null">
				tddramt,
			</if>
			<if test="tdcramt != null">
				tdcramt,
			</if>
			<if test="tddrcnt != null">
				tddrcnt,
			</if>
			<if test="tdcrcnt != null">
				tdcrcnt,
			</if>
			<if test="tddrbal != null">
				tddrbal,
			</if>
			<if test="tdcrbal != null">
				tdcrbal,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="accountBookId != null">
				#{accountBookId,jdbcType=VARCHAR},
			</if>
			<if test="itemcode != null">
				#{itemcode,jdbcType=VARCHAR},
			</if>
			<if test="periodday != null">
				#{periodday,jdbcType=VARCHAR},
			</if>
			<if test="itembalby != null">
				#{itembalby,jdbcType=TINYINT},
			</if>
			<if test="itemclass != null">
				#{itemclass,jdbcType=TINYINT},
			</if>
			<if test="currtype != null">
				#{currtype,jdbcType=CHAR},
			</if>
			<if test="lddrbal != null">
				#{lddrbal,jdbcType=DECIMAL},
			</if>
			<if test="ldcrbal != null">
				#{ldcrbal,jdbcType=DECIMAL},
			</if>
			<if test="tddramt != null">
				#{tddramt,jdbcType=DECIMAL},
			</if>
			<if test="tdcramt != null">
				#{tdcramt,jdbcType=DECIMAL},
			</if>
			<if test="tddrcnt != null">
				#{tddrcnt,jdbcType=DECIMAL},
			</if>
			<if test="tdcrcnt != null">
				#{tdcrcnt,jdbcType=DECIMAL},
			</if>
			<if test="tddrbal != null">
				#{tddrbal,jdbcType=DECIMAL},
			</if>
			<if test="tdcrbal != null">
				#{tdcrbal,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="org.yunzhong.account.accounting.model.AcctGenledDetail">
		update t_acct_genled_detail
		<set>
			<if test="itembalby != null">
				itembalby = #{itembalby,jdbcType=TINYINT},
			</if>
			<if test="itemclass != null">
				itemclass = #{itemclass,jdbcType=TINYINT},
			</if>
			<if test="currtype != null">
				currtype = #{currtype,jdbcType=CHAR},
			</if>
			<if test="lddrbal != null">
				lddrbal = #{lddrbal,jdbcType=DECIMAL},
			</if>
			<if test="ldcrbal != null">
				ldcrbal = #{ldcrbal,jdbcType=DECIMAL},
			</if>
			<if test="tddramt != null">
				tddramt = #{tddramt,jdbcType=DECIMAL},
			</if>
			<if test="tdcramt != null">
				tdcramt = #{tdcramt,jdbcType=DECIMAL},
			</if>
			<if test="tddrcnt != null">
				tddrcnt = #{tddrcnt,jdbcType=DECIMAL},
			</if>
			<if test="tdcrcnt != null">
				tdcrcnt = #{tdcrcnt,jdbcType=DECIMAL},
			</if>
			<if test="tddrbal != null">
				tddrbal = #{tddrbal,jdbcType=DECIMAL},
			</if>
			<if test="tdcrbal != null">
				tdcrbal = #{tdcrbal,jdbcType=DECIMAL},
			</if>
		</set>
		where account_book_id = #{accountBookId,jdbcType=VARCHAR}
		and itemcode = #{itemcode,jdbcType=VARCHAR}
		and periodday = #{periodday,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="org.yunzhong.account.accounting.model.AcctGenledDetail">
		update t_acct_genled_detail
		set itembalby = #{itembalby,jdbcType=TINYINT},
		itemclass = #{itemclass,jdbcType=TINYINT},
		currtype = #{currtype,jdbcType=CHAR},
		lddrbal = #{lddrbal,jdbcType=DECIMAL},
		ldcrbal = #{ldcrbal,jdbcType=DECIMAL},
		tddramt = #{tddramt,jdbcType=DECIMAL},
		tdcramt = #{tdcramt,jdbcType=DECIMAL},
		tddrcnt = #{tddrcnt,jdbcType=DECIMAL},
		tdcrcnt = #{tdcrcnt,jdbcType=DECIMAL},
		tddrbal = #{tddrbal,jdbcType=DECIMAL},
		tdcrbal = #{tdcrbal,jdbcType=DECIMAL}
		where account_book_id = #{accountBookId,jdbcType=VARCHAR}
		and itemcode = #{itemcode,jdbcType=VARCHAR}
		and periodday = #{periodday,jdbcType=VARCHAR}
	</update>
</mapper>